<div>
    <a href="#/templates">Go Back</a>
    <br><br>
    <div class="col-md-4">
        <h1>{{template.category.Name}}</h1>
        <img class="img-full" src="img/{{mainImage1}}">
        <img class="img-full" src="img/{{mainImage2}}">
        <img class="img-full" src="img/{{mainImage3}}">
        <img class="img-full" src="img/{{mainImage4}}">
        <img class="img-full" src="img/{{mainImage5}}">
        <img class="img-full" src="img/{{mainImage6}}">
        <img class="img-full" src="img/{{mainImage7}}">
        <img class="img-full" src="img/{{mainImage8}}">
        <img class="img-full" src="img/{{mainImage9}}">
        <img class="img-full" src="img/{{mainImage10}}">
        <img class="img-full" src="img/{{mainImage11}}">
        <img class="img-full" src="img/{{mainImage12}}">
        <img class="img-full" src="img/{{mainImage13}}">
        <img class="img-full" src="img/{{mainImage14}}">
        <img class="img-full" src="img/{{mainImage15}}">
        <div class="row">
                <div class="col-md-3">
                    <img class="img-full" ng-src="img/{{img.obj0}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj1}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj2}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj3}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj4}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj5}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj6}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj7}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj8}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj9}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj10}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj11}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj12}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj13}}" ng-click="setImage(image)">
                    <img class="img-full" ng-src="img/{{img.obj14}}" ng-click="setImage(image)">
                </div>
        </div>


    </div>

</div>