<div class="row templates">
            <div class="col-md-7">
                 <h3>{{templates.img.category.Name}}</h3>
            <div class="col-md-7">
                <img ng-src="img/{{template.img.obj0}}">
            </div>
            <div class="col-md-7">

                <img ng-src="img/{{template.img.obj1}}">
            </div>
            <div class="col-md-7">
                <img ng-src="img/{{template.img.obj2}}">
            </div>
            <div class="col-md-7">
                 <img ng-src="img/{{template.img.obj3}}">
            </div>
             <div class="col-md-7">
                <img ng-src="img/{{template.img.obj4}}">
             </div>
             <div class="col-md-7">
                <img ng-src="img/{{template.img.obj5}}">
             </div>
             <div class="col-md-7">
                <img ng-src="img/{{template.img.obj6}}">
             </div>
             <div class="col-md-7">
                <img ng-src="img/{{template.img.obj7}}">
             </div>
             <div class="col-md-7">
                <img ng-src="img/{{template.img.obj8}}">
             </div>
             <div class="col-md-7">
                <img ng-src="img/{{template.img.obj9}}">
             </div>
             <div class="col-md-7">
                <img ng-src="img/{{template.img.obj10}}">
             </div>
             <div class="col-md-7">
                <img ng-src="img/{{template.img.obj11}}">
             </div>
             <div class="col-md-7">
                <img ng-src="img/{{template.img.obj12}}">
             </div>
             <div class="col-md-7">
                <img ng-src="img/{{template.img.obj13}}">
             </div>
             <div class="col-md-7">
                <img ng-src="img/{{template.img.obj14}}">
            </div>



        </div>
    <a href=" https://swami-image-scrapping.herokuapp.com/   ">
        <input type="button" value="Go Home" />
    </a>

</div>