<!--<div class="row templates">
    <div ng-repeat="template in templates">
        <div class="col-md-4">
           &lt;!&ndash;<img ng-src="img/{{template.images[0].name}}">
           &ndash;&gt; <script>var name = "<%= name %>";</script>
            <h1>{{ name }} </h1>
        </div>
    </div>
</div>-->

<div >
    <h3>Image Search</h3>
    <script>var name = "{{name}}" ; console.log(name);</script>
    <h1>{{name}}<h1>
    <!--<form action="http://localhost:4000/image" method="post">
       &lt;!&ndash; <label for="IMAGENAME">NAME</label>
        <input type="text" id="IMAGENAME" name="IMAGENAME">
        <input type="submit" value="Submit">&ndash;&gt;
    </form>-->
</div>